$orange: #e69a37;
$white: #ffffff;
$black: #000000;
$gray: #323232;
$white-light: #f3f3f3;
$Museo-font-300: 'Museo Sans Cyrl 300';
$Museo-font-500: 'Museo Sans Cyrl 500';
$Museo-font-700: 'Museo Sans Cyrl 700';
$Museo-font-900: 'Museo Sans Cyrl 900';
$margin20: 20px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
form {
  position: relative;
}
.search {
  font-family: $Museo-font-500;
  font-size: 16px;
  color: $black;
  opacity: 0.5;
  width: 521px;
  height: 50px;
  background-color: $white-light;
  border: none;
  outline: none;
  padding-left: $margin20;
}
.submit {
  background-color: $white-light;
  opacity: 0.5;
  border: none;
  outline: none;
  height: 50px;
  width: 36px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
hr {
  opacity: 0.15;
  border: 1px solid $black;
}
.navigation {
  display: flex;
  justify-content: center;
}

.navigation li a {
  font-family: $Museo-font-500;
  font-size: 18px;
  color: $black;
  display: block;
  text-decoration: none;
  color: $black;
  padding: $margin20;
}
.navigation li a:hover {
  background-color: $orange;
  color: $white;
}
.navigation li a:active {
  background-color: $gray;
}
/*.active-nav{
    background-color: $gray;
    color: $white-light;
  }*/
.slider {
  background-image: url(../src/plant.jpg);
  background-size: 100% 100%;
}
.slider-btn {
  width: 228px;
  height: 38px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  color: $white-light;
  background-color: $orange;
  margin-top: 130px;
  font-family: $Museo-font-900;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.2em;
}
.slider-btn:hover {
  border: 3px dotted $gray;
  color: $black;
  background: rgba(0, 0, 0, 0);
  transition-duration: 0.5s;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.slider-btn:active {
  transform: translateY(2px);
}
h1 {
  font-family: $Museo-font-900;
  font-weight: bold;
  font-size: 60px;
  color: $white;
  margin: $margin20 0;
  max-width: 550px;
}
.slider-container p {
  font-family: $Museo-font-500;
  font-size: 22px;
  line-height: 28px;
  color: $white;
  max-width: 600px;
  padding-bottom: 94px;
}
.slider-pagination {
  display: flex;
  justify-content: center;
}
.pagination {
  cursor: pointer;
  width: 12px;
  height: 12px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid $white;
  margin-right: 16px;
  margin-bottom: 40px;
}
.pagination:hover {
  background: $white;
}
.pagination:active {
  background: $orange;
}
.services {
  display: flex;
}
.service {
  display: flex;
  align-items: center;
  padding: 35px $margin20;
  cursor: pointer;
}
.service:hover {
  background-color: $white-light;
  text-decoration: underline;
}
.service-img {
  margin-right: 12px;
}
.service-name a {
  display: block;
  font-family: $Museo-font-500;
  text-decoration: none;
  font-size: 14px;
  color: $gray;
}
.new {
  margin-top: 67px;
}
