$orange:#E69A37;
$white: #FFFFFF;;
$black: #000000;
$gray: #323232;
$white-light: #F3F3F3;;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .wrapper {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 10px;
  }
  .header-container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 25px 0;
  }
  .search{
  font-family: Museo Sans Cyrl;
  font-size: 16px;
  color: $black;
  opacity: 0.5;
  width: 557px;
  height: 50px;
  background-color: $white-light;
  border: none;
  outline: none;
  padding-left: 20px;
  }
  hr{
    opacity: 0.15;
    border: 1px solid $black;     
  }
  .navigation{
    display: flex;
    justify-content: center;
  }
  .navigation li{
    cursor: pointer;
    padding: 20px;
  }
  .navigation li a{
  text-decoration: none;
  color: $black;
  }
  .navigation li:hover{
    background-color: $orange;
    color: $white-light;
  }
  .slider{
    background-image: url(../src/plant.jpg);
    background-size:100% 100%;
  }
  .slider-btn{
  width: 228px;
  height: 38px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  color: $white-light;
  background-color: $orange;
  margin-top: 130px;
  }
  h1{
font-family: Museo Sans Cyrl;
font-weight: bold;
font-size: 60px;
color: $white;
margin: 20px 0;
max-width: 550px;
  }
.slider-container p{
font-family: Museo Sans Cyrl;
font-size: 22px;
line-height: 28px;
color: $white;
max-width: 600px;
padding-bottom: 94px;
}
.slider-pagination{
  display: flex;
  justify-content: center;
}
.pagination{
cursor: pointer;
width: 12px;
height: 12px;
background: rgba(255, 255, 255, 0.1);
border: 1px solid $white;
margin-right: 16px;
margin-bottom: 40px;
}
.pagination:hover{
  background: $white;
}
.services{
  display: flex;
}
.service{
  display: flex;
  align-items: center;
  padding: 35px 20px;
}
.service:hover{
  background-color: $white-light;
}
.service-img{
  margin-right: 12px;
}
.service-name a{
font-family: Museo Sans Cyrl;
text-decoration: none;
font-size: 14px;
color: $gray;

}
.new{
  margin-top: 67px;
}